{% extends 'parent/base.html' %}

{% block title %}Post Create{% endblock %}


{% block content %}
    <h1>Post Create</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="افزودن پست">
    </form>
    {% if form.errors %}
        لطفا خطاهای زیر را اصلاح کنید. <br>
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.label }}: {{ error }}<br>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
{% endblock %}
