{% extends 'parent/base.html' %}
{% load blog_tags %}

{% block title %} Home Page {% endblock %}

{% block content %}
    <h2>آمار</h2>
    <p>تعداد پست: {% total_posts %}</p>
    <p>تعداد کامنت: {% total_comments %}</p>
    <p>تاریخ اخرین پست: {% last_post_date %}</p>

    {% latest_posts 10 %}

    <h2>محبوب ترین پست ها</h2>
    {% most_popular_posts 10 as pop_posts %}
    {% for post in pop_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: black;">
                {{ post.title }}: with {{ post.comments_count }} comments
            </a>
        </p><br>
    {% endfor %}

{% endblock %}
