{% extends 'parent/base.html' %}


{% block title %}post list{% endblock %}


{% block content %}
    {% if category %}
        <h1 class="post-list"><a href="{% url 'blog:post_list' %}">لیست پست ها {{ category }}</a></h1>
    {% else %}
        <h1 class="post-list"><a href="{% url 'blog:post_list' %}">لیست پست ها</a></h1>
    {% endif %}

    <div>
        <a href="{% url 'blog:post_list_category' 'هوش مصنوعی' %}">هوش مصنوعی</a>
    </div>
    <div>
        <a href="{% url 'blog:post_list_category' 'برنامه نویسی' %}">برنامه نویسی</a>
    </div>
    <div>
        <a href="{% url 'blog:post_list_category' 'بلاکچین' %}">بلاکچین</a>
    </div>
    <div>
        <a href="{% url 'blog:post_list_category' 'امنیت' %}">امنیت</a>
    </div>
    <div>
        <a href="{% url 'blog:post_list_category' 'سایر' %}">سایر</a>
    </div>

    <ol style="--length: {{ posts|length }}" role="list">
        {% for post in posts %}
            <li style="--i: {{ forloop.counter }}">
                <h3 class="post-title">
                    <a style="text-decoration: none; color: black;" href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h3>
                <p class="descr">{{ post.description|truncatewords:5 }}</p>
                <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
            </li>
        {% endfor %}
    </ol>
    {% include 'partials/pagination.html' with page=posts %}
{% endblock %}
