{% extends 'parent/base.html' %}

{% block title %} Profile | {{ user }} {% endblock %}


{% block content %}
    <p><a href="{% url 'blog:post_create' %}">ایجاد پست</a></p>
    <table style="width: 80%; border: 2px solid black; text-align: center; direction: rtl;">
        <tr>
            <th>ردیف</th>
            <th>مشاهده</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                <td><a href="{% url 'blog:post_edit' post.id %}">ویرایش</a></td>
                <td><a href="{% url 'blog:post_delete' post.id %}">حذف</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'blog:logout' %}">خروج</a><br>
    <a href="{% url 'blog:password_change' %}">تغییر پسورد</a>
{% endblock %}
