{% extends 'parent/base.html' %}

{% block title %}post search{% endblock %}


{% block content %}
    {% if query %}
        <span>{{ post_results|length }}:</span> <span>نتایج جستجو برای {{ query }}</span><br>
        <span>{{ image_results|length }}:</span> <span>نتایج جستجو برای {{ query }}</span>
    {% endif %}

    <h2>نتایج پست‌ها</h2>
    {% for post in post_results %}
        <div>
            <hr>
            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
            <p>{{ post.description|linebreaks }}</p>
            <hr>
        </div>
    {% empty %}
        <p>هیچ نتیجه ای یافت نشد...</p>
    {% endfor %}

    <h2>نتایج تصاویر</h2>
    {% for image in image_results %}
        <div>
            <hr>
            <p><a href="{{ image.post.get_absolute_url }}">{{ image.title }}</a></p>
            <p>{{ image.description|linebreaks }}</p>
            <hr>
        </div>
    {% empty %}
        <p>هیچ نتیجه ای یافت نشد...</p>
    {% endfor %}


{% endblock %}
